.background {
    background-color: rgb(15, 8, 44);
}

.title {
    font-family: 'DDWeb';
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.headertitle {
    position: relative
    left: 68px;
    top: 200px;
    display: flex;
    height: 350px;
    background:rgb(24, 61, 17);
    vertical-align: baseline;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 200px;
    padding-bottom: 10px;
    line-height: 1;
}

.custom-font {
    font-family: 'DDWeb';
    line-height: 1;
}

.body-font {
    font-family: 'Arial';
    line-height: 1;
}

@font-face {
    font-family: 'DDWeb';
    src: url('/ddweb.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}