.background {
    color: rgb(211, 211, 211);
    display: flex;
    font-family: 'DDWeb';
    font-weight: bold;
    text-align: center;
    margin-left: 185px;
    margin-right: auto;
    padding: 10px;
}

body {
    font-family: 'DDWeb';
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    font-size: 20px;
}

@font-face {
    font-family: 'DDWeb';
    src: url('/ddweb.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}